<link rel="stylesheet" href="picross/picross.css">

<h1>Picross</h1>

<p>Picross of {{picross.width}} x {{picross.height}}</p>
<table class="picross-table noselect" ondragstart="return false;" ondrop="return false;">
    <!-- Hint headers -->
    <tr ng-repeat="headerRow in topHeaderRows">
        <!-- NB: I somewhat dislike the leftHeaderRows[0] here, but c'est la vie. -->
        <th ng-repeat="leftHeaderRow in leftHeaderRows[0] track by $index" class="{{getPicrossTableCornerStyle($parent.$index, $index)}}"></th>
        <th ng-repeat="col in headerRow track by $index" class="{{getPicrossTableTopHeaderStyle($parent.$index, $index)}}">{{col}}</th>
    </tr>
    <tr ng-repeat="headerRow in leftHeaderRows">
        <th ng-repeat="col in headerRow track by $index" class="{{getPicrossTableLeftHeaderStyle($parent.$index, $index)}}">{{col}}</th>
        <td ng-repeat="col in picross.columnHints" class="{{($index > 0 && ($index % 5) == 0) ? 'col-separator' : ''}} {{($parent.$index > 0 && ($parent.$index % 5) == 0) ? 'row-separator' : ''}}">
            <span class="{{getStyleForImage($parent.$index, $index)}}"></span>
        </td>
    </tr>
</table>



