<link rel="stylesheet" href="picross/picross.css">

<h1>Picross</h1>

<p>Picross of {{picross.width}} x {{picross.height}}</p>

<div class="picross-container" ondragstart="return false;" ondrop="return false;" ng-contextmenu="tableContextMenuHandler($event, $parent.$index, $index)">

<table class="picross-table noselect">
    <!-- Hint headers -->
    <tr ng-repeat="headerRow in topHeaderRows">
        <!-- NB: I somewhat dislike the leftHeaderRows[0] here, but c'est la vie. -->
        <th ng-repeat="leftHeaderRow in leftHeaderRows[0] track by $index" class="{{getPicrossTableCornerStyle($parent.$index, $index)}}"></th>
        <th ng-repeat="col in headerRow track by $index" class="{{getPicrossTableTopHeaderStyle($parent.$index, $index)}}"><span ng-hide="!shouldDisplayHeader()">{{col}}</span></th>
    </tr>
    <tr ng-repeat="headerRow in leftHeaderRows">
        <th ng-repeat="col in headerRow track by $index" class="{{getPicrossTableLeftHeaderStyle($parent.$index, $index)}}"><span ng-hide="!shouldDisplayHeader()">{{col}}</span></th>
        <td ng-repeat="col in picross.columnHints"
            ng-mousedown="tableCellMouseDown($event, $parent.$index, $index)"
            ng-mouseup="tableCellMouseUp($event, $parent.$index, $index)"
            ng-mouseenter="tableCellMouseEnter($event, $parent.$index, $index)"
            class="{{getPicrossTableCellStyle($parent.$index, $index)}}">

            <span class="{{getStyleForField($parent.$index, $index)}}"></span>
        </td>
    </tr>
</table>

<div class="picross-controls">
    <button type="button" title="Start a new game" ng-click="startNewGame()">New Game</button>
    <label>Picross width: <input type="number" class="number-input" title="Picross width" ng-model="configuration.width" min="1"></label>
    <label>Picross height: <input type="number" class="number-input" title="Picross height" ng-model="configuration.height" min="1"></label>
</div>

</div>

<h2>Controls</h2>
<p>
    Left-click and drag in a row or column to <em>tick</em> fields.
    Right-click (and drag) to <em>cross-out</em> fields.
    The middle mousebutton can be used to <em>erase</em> fields. Alternatively, holding shift while left-clicking (or dragging) can also be used to <em>erase</em>.
</p>
<p>
    When ticking or crossing fields, only empty fields are affected.
    To <em>erase</em> a ticked or crossed-out field, start a <em>tick</em> respectively <em>cross-out</em> on it and drag as desired;
    during the drag only fields that are also ticked respectively crossed-out are affected.
</p>
<p>
    Dragging is only active within a row or column, to prevent accidents.
    When starting a drag, both the row and column of the current field are highlighted and can be dragged over;
    once you pick a direction to drag towards, the row or column corresponding to that direction is highlighted and the other direction
    can no longer be dragged over.
</p>
<p>
    The row/column restriction on dragging can be lifted during the rest of the drag by holding the Alt key while dragging over any field;
    the restriction will remain disabled until the next drag.
</p>



