.picross-container {
    padding: 20px 20px 80px 100px;
    background-color: #f4f3f7;
}

.picross-table {
    /* border: 1px solid black; */
    table-layout: fixed;
}

.picross-table th, .picross-table td {
    width: 1.4em;
    height: 1.4em;
    border: 1px solid black;
    padding: 1px 1px 1px 1px;
}

.picross-table td.show-image {
    border: 0;
    padding: 0;
}

.picross-table .field-ticked, .picross-table .field-unticked, .picross-table .field-crossed {
    display: block;
    width: 100%;
    height: 100%;
}

.picross-table th {
    font-weight: normal;
}



.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently not supported by any browser */
}




/* Upper-left corner area of the picross table, the part that is sandwiched between headers */
.picross-table .corner-empty-piece, .picross-table .corner-right-piece, .picross-table .corner-bottom-piece  {
    border: 0;
}
.picross-table .corner-right-piece {
    border-right: solid 3px black;
}
.picross-table .corner-bottom-piece {
    border-bottom: solid 3px black;
}

/* Top and left header pieces */
.picross-table .empty-header-cell {
    border: 0;
}
.picross-table .col-separator {
    border-left: 3px solid #606060;
}
.picross-table .top-header-cell, .picross-table .top-header-bottom-cell {
    border-top: 0;
    border-bottom: 0;
}
.picross-table .top-header-bottom-cell {
    border-bottom: solid 3px black;
}
.picross-table .row-separator {
    border-top: 3px solid #606060;
}
.picross-table .left-header-cell, .picross-table .left-header-right-cell {
    border-left: 0;
    border-right: 0;
}
.picross-table .left-header-right-cell {
    border-right: solid 3px black;
}







/* Displaying the various states of the picross field */
.picross-table .field-ticked {
    background-color: black;
}

.picross-table .field-unticked {
    background-color: inherit;
}

.picross-table .field-crossed {
    background-color: inherit;
    background-image: url("Cross.svg");
    background-repeat: no-repeat;
    background-position: center;
}



/* Hover/drag effects for picross field/header */
.picross-table .hover-active {
    background-color: rgba(170,170,255,0.2);
}
.picross-table .drag-active {
    background-color: rgba(170,170,255,0.2);
}